.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
  transition: opacity 0.3s;
}

.action-bar:hover {
  opacity: 1;
}

/* use light theme */
.action-bar button.is-primary.is-small {
  border-radius: 0;
}

.action-bar button.is-primary.is-small:last-child {
  border-top-right-radius: 12px;
}
