.cell-list {
  margin: 0 36px 50vh;
}

.react-draggable-transparent-selection .cell-list {
  margin-bottom: 100vh;
}

/* use light theme */
:root {
  --toolbar: #dce3e5;
  --resizable-handle: #efefef;
  --divider: #ababab;
  --background-color: #e5efff;
}

html {
  background-color: var(--background-color);
}
