.cell-list {
  margin: 0 36px 50vh;
}

.react-draggable-transparent-selection .cell-list {
  margin-bottom: 100vh;
}

/* use light theme */
:root {
  --toolbar: #dce3e5;
  --resizable-handle: #efefef;
  --divider: #ababab;
  --background-color: #e2f1f5;
}

html {
  background-color: var(--background-color);
}

.empty {
  border-radius: 10px;
  border: 1px dashed var(--divider);
  margin: auto;
  margin-bottom: 32px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
